{% extends "main.html" %}

{% block custom_header %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/lib/slim-select/slimselect.css') }}"/>
<script src="{{ url_for('static', filename='dist/lib/slim-select/slimselect.js') }}" defer></script>

<!-- No need separate js file to init custom select -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        new SlimSelect({
            select: '#role-select',
            settings: {
                showSearch: false
            },
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="content-box">
    <form method="POST" action="{{ url_for('user.add') }}">
        {{ add_user_form.csrf_token() }}
        
        <div class="table-box">
            <table>
                <tr>
                    <td><strong>{{ add_user_form.username.label }}</strong></td>
                    <td>
                        {{ add_user_form.username() }}
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ add_user_form.password.label.text }}</strong></td>
                    <td>
                        {{ add_user_form.password() }}
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ add_user_form.role.label.text }}</strong></td>
                    <td>
                        {{ add_user_form.role(id='role-select') }}
                    </td>
                </tr>
            </table>
            {{ add_user_form.submit() }}
        </div>
    </form>
</div>

{% endblock %}
