{% extends "main.html" %}

{% block custom_header %}
{% endblock %}

{% block content %}
<div class="content-card">
    <div class="user-header">
        <div class="user-details">
            <h2>{{ current_user.username }}</h2>
            <span class="role-badge">developer</span>
        </div>
    </div>
    <div class="user-info">
        <p><strong>Created At:</strong> {{ utils.format_unix_timestamp(current_user.created_at) }}</p>
    </div>
</div>

<div class="content-card">
    <h2>Security</h2>
    <h3>Change password</h3>
    <form method="POST" action="{{ url_for('user.info') }}">
        {{ password_form.csrf_token(id = "password") }}
        <div class="form-group">
            <label for="current_password"><strong>Current Password</strong></label>
            {{ password_form.current_password(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="new_password"><strong>New Password</strong></label>
            {{ password_form.new_password(class="form-control") }}
        </div>
        <div class="form-group">
            <label for="confirm_new_password"><strong>Confirm New Password</strong></label>
            {{ password_form.confirm_new_password(class="form-control") }}
        </div>
        {% for error in password_form.confirm_new_password.errors %}
            <div class="form-validate-error">
                <span">{{ error }}</span>
            </div>
        {% endfor %}
        <div class="submit-box">
            {{ password_form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<div class="content-card">
    <h2>Personal settings</h2>
    <form method="POST" action="{{ url_for('user.info') }}">
        {{ settings_form.csrf_token(id = "settings") }}
        <div class="table-box {{ 'constrained' if PersonalSettings.get_setting(current_user.id, 'constrain_tables_view') == 'true' else '' }}">
            <table>
                <tr>
                    <td><strong>Constrain tables view</strong></td>
                    <td>
                        {{ settings_form.constrain_tables_view() }}
                        <label for="constrain_tables_view"></label>
                    </td>
                </tr>
                <tr>
                    <td><strong>Theme</strong></td>
                    <td>
                        {{ settings_form.theme() }}
                    </td>
                </tr>
            </table>
        </div>
        <div class="submit-box">
            {{ settings_form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}
