{% extends "main.html" %}

{% block custom_header %}
{% assets "user_css" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div class="content-card">
    <div class="user-header">
        <div class="user-details">
            <h2>{{ current_user.username }}</h2>
            {% for role in current_user.get_roles() %}
                <span class="role-badge">{{ role.name }}</span>
            {% endfor %}
        </div>
    </div>
    <div class="user-info">
        <p><strong>Created At:</strong> {{ common.format_unix_timestamp(current_user.created_at) }}</p>
    </div>
</div>

<div class="content-card">
    <h2>Security</h2>
    <h3>Change password</h3>
    <form method="POST" action="{{ url_for('user.profile') }}">
        {{ password_form.csrf_token(id = 'password_csrf') }}

        <div class="table-box">
            <table>
                <tr>
                    <td><strong>{{ password_form.current_password.label }}</strong></td>
                    <td>
                        {{ password_form.current_password() }}
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ password_form.new_password.label }}</strong></td>
                    <td>
                        {{ password_form.new_password() }}
                    </td>
                </tr>
                <tr>
                    <td><strong>{{ password_form.confirm_new_password.label }}</strong></td>
                    <td>
                        {{ password_form.confirm_new_password() }}
                    </td>
                </tr>
            </table>
        </div>
        
        {% for error in password_form.confirm_new_password.errors %}
            <div class="form-validate-error">
                <span>{{ error }}</span>
            </div>
        {% endfor %}
        
        {{ password_form.submit() }}
    </form>
</div>

<div class="content-card">
    <h2>Personal settings</h2>
    <form method="POST" action="{{ url_for('user.profile') }}">
        {{ settings_form.csrf_token(id = 'settings_csrf') }}
        
        <div class="table-box">
            <table>
                <tr>
                    <td><strong>Theme</strong></td>
                    <td>
                        {{ settings_form.theme() }}
                    </td>
                </tr>
            </table>
        </div>

        {{ settings_form.submit() }}
    </form>
</div>


{% endblock %}
