{% extends "main.html" %}
{% from 'box-top-panel-macros.html' import box_top_panel %}

{% block custom_header %}
{% assets "user_css" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    {% set extra_buttons %}
        {% if current_user.has_permission(Permissions.USER_ADD) %}
            <a href="{{ url_for('user.add') }}" title="Add User">
                {% include 'icons/user_add.svg' %}
            </a>
        {% endif %}
        {% if current_user.has_permission(Permissions.ROLE_VIEW_LIST) %}
            <a href="{{ url_for('user.get_role_list') }}" title="View Roles">
                {% include 'icons/roles.svg' %}
            </a>
        {% endif %}
    {% endset %}

    {{ box_top_panel(extra_buttons) }}

    <div class="table-box">
        <table id="user-table">
            <thead>
                <tr>
                    <th data-sort="username">Username</th>
                    <th data-sort="role">Roles</th>
                    <th data-sort="created_at">Created At</th>
                </tr>
            </thead>
            <tbody id="user-list">
                {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('user.view_profile', id=user.id) }}">{{ user.username }}</a></td>
                    <td>
                        <div class="role-badge-container">
                            {% for role in user.get_roles() %}
                                <span class="badge">{{ role.name }}</span>
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ common.format_unix_timestamp(user.created_at) }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
