{% extends "main.html" %}

{% block custom_header %}
{% assets "user_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "user_js" %}
<script src="{{ ASSET_URL }}" defer></script>
{% endassets %}
{% endblock %}

{% block content %}
<div class="content-card">
    <div class="title">
        <div class="user-details">
            <h1>{{ user.username }}</h1>
        </div>
        <div class="actions disable-on-load">
            <a id="delete-btn" data-id="{{ user.id }}" title="Delete User">
                {% include 'icons/delete.svg' %}
            </a>
        </div>
    </div>
    <h3>Roles</h3>
    <div class="role-list" data-user-id="{{ user.id }}">
        {% for role in user.get_roles() %}
            <div class="role-item" id="role-item-{{ role.id }}">
                <span class="role-badge">{{ role.name }}</span>
                <div class="actions disable-on-load">
                    <div>
                        <a class="delete-role" data-role-id="{{ role.id }}" title="Remove Role">
                            {% include 'icons/dnd.svg' %} 
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <form class="add-role" method="POST" action="{{ url_for('user.view_profile', id=user.id) }}">
        {{ role_form.hidden_tag() }}

        {{ role_form.role(class="form-control", id="role-select") }}

        {{ role_form.submit(class="btn-primary", id="add-role-btn") }}
    </form> 
    {% if current_user.id == user.id %}
        <p><a href="{{ url_for('user.profile') }}">Edit Your Profile</a></p>
    {% endif %}
</div>

{% if current_user.id != user.id %}
    <div class="content-card">
        <h2>Security</h2>
        <h3>Change user's password</h3>
        <form method="POST" action="{{ url_for('user.view_profile', id=user.id) }}">
            {{ password_form.csrf_token(id = 'password_csrf') }}
            
            <div class="table-box">
                <table>
                    <tr>
                        <td><strong>New password</strong></td>
                        <td>
                            <label for="new_password" style="display:none;">New Password</label>
                            {{ password_form.new_password() }}
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Confirm password</strong></td>
                        <td>
                            <label for="confirm_new_password" style="display:none;">Confirm New Password</label>
                            {{ password_form.confirm_new_password() }}
                        </td>
                    </tr>
                    {% for error in password_form.confirm_new_password.errors %}
                        <tr>
                            <td colspan="2">
                                <div class="form-validate-error">
                                    <span>{{ error }}</span>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        
            <div class="submit-box">
                {{ password_form.submit(class="btn-primary") }}
            </div>
        </form>
    </div>
{% endif %}

{% endblock %}
