{% extends "main.html" %}

{% block custom_header %}
    <link rel="stylesheet" href="{{ url_for('user.static', filename='styles/user.css') }}">
    <script src="{{ url_for('user.static', filename='js/view_role.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="content-box">
        {% if role.id == 1 %}
            <div class="info">
                <h1>Cant edit super admin role.</h1>
                <h2><a href="{{ url_for('user.get_role_list') }}">Back</a></h2>
            </div>
        {% else %}
        <div id="role-edit-top-bar">
            <h2>Edit</h2>
            <a id="delete-role-btn" data-role-id="{{ role.id }}" data-role-name="{{ role.name }}">
                {% include 'icons/delete.svg' %}
            </a>  
        </div>
        <form method="POST" action="{{ url_for('user.view_role', id=role.id) }}">
            {{ form.hidden_tag() }}
            <table id="view-role">
                <tr>
                    <td><b>{{ form.role_name.label }}</b></td>
                    <td>
                        <input
                            type="text"
                            name="{{ form.role_name.name }}"
                            id="{{ form.role_name.id }}"
                            size="20" 
                            value="{{role.name}}">
                    </td>
                </tr>
                {% for permission_form, permission in zip(form.permissions, Permissions) %}
                    <tr>
                        <td>{{ permission.name }}</td>
                        <td>
                            <input
                                id="{{ permission.name }}"
                                name="{{ permission_form.enabled.name }}"
                                type="checkbox"
                                value="y"
                                {% if permission_form.enabled.data %}checked{% endif %}>
                            <label for="{{ permission.name }}"></label>
                            {{ permission_form.permission_value(value=permission.value) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <input
                type="submit"
                value="{{ form.submit.label.text }}">
        </form>
        {% endif %}
    </div>
{% endblock %}
