{% extends "main.html" %}

{% block custom_header %}
    <script src="{{ url_for('static', filename='js/table.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="content-box">
    <div class="search-box">
        <input type="text" id="search" placeholder="Search">
        <a id="refresh-page-btn">
            {% include 'icons/restart.svg' %}  
        </a>
    </div>
    <div class="table-box">
        <table id="image-table">
            <thead>
                <tr>
                    <th data-sort="repo_tags">Repo</th>
                    <th data-sort="repo_tags">Created</th>
                    <th data-sort="size">Size (MB)</th>
                </tr>
            </thead>
            <tbody id="image-list">
                {% for row in rows %}
                <tr>
                    <td><a href="{{ url_for('main.image.info', id=row.id) }}"">{{ row.repo_tags }}</a></td>
                    <td>{{ row.created }}</td>
                    <td>{{ row.size }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}