{% extends "main.html" %}

{% block custom_header %}
    <script src="{{ url_for('static', filename='js/table.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="content-box">
    <div class="search-box">
        <input type="text" id="search" placeholder="Search">
        <a id="refresh-page-btn"><span class="material-symbols-outlined">restart_alt</span></a>
    </div>
    <div class="table-box">
        <table id="volume-table">
            <thead>
                <tr>
                    <th data-sort="name">Name</th>
                    <th data-sort="mountpoint">Mountpoint</th>
                </tr>
            </thead>
            <tbody id="volume-list">
                {% for row in rows %}
                <tr>
                    <td><a href="{{ url_for('main.volume.info', name=row.name) }}">{{ row.name }}</a></td>
                    <td>{{ row.mountpoint }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}