{% extends "main.html" %}
{% from 'box-top-panel-macros.html' import box_top_panel %}

{% block custom_header %}
    {% assets "volume_js" %}
        <script src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    {% set extra_buttons %}
        {% if current_user.has_permission(Permissions.VOLUME_DELETE) %}
            <a class="prune-btn" title="Prune unused volumes">
                {% include 'icons/prune.svg' %}
            </a>
        {% endif %}
    {% endset %}
    {{ box_top_panel(extra_buttons) }}
    <div class="table-box">
        <table id="volume-table">
            <thead>
                <tr>
                    <th data-sort="name">Name</th>
                    <th data-sort="mountpoint">Mountpoint</th>
                </tr>
            </thead>
            <tbody id="volume-list">
                {% for row in rows %}
                <tr>
                    <td><a href="{{ url_for('main.volume.info', name=row.name) }}">{{ row.name }}</a></td>
                    <td>{{ row.mountpoint }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}