{% extends "main.html" %}

{% block custom_header %}
    {% assets "network_js" %}
        <script src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
{% endblock %}

{% block content %}
    {% if network %}
        <!-- General Info Block -->
        <div class="content-card">
            <div class="title">
                <h2>{{ network.Name }}</h2>
                <div class="actions disable-on-load">
                    <div>
                        <a class="delete-btn" data-id="{{ network.Id }}" title="Delete Network">
                            {% include 'icons/delete.svg' %}
                        </a>
                    </div>
                </div>
            </div>
            
            <p><strong>Created At:</strong> {{ network.Created }}</p>
            <p><strong>Scope:</strong> {{ network.Scope }}</p>
            <p><strong>Driver:</strong> {{ network.Driver }}</p>
            <p><strong>Enable IPv6:</strong> {{ network.EnableIPv6 }}</p>
            <p><strong>Internal:</strong> {{ network.Internal }}</p>
            <p><strong>Attachable:</strong> {{ network.Attachable }}</p>
            <p><strong>Ingress:</strong> {{ network.Ingress }}</p>

            <!-- Network Configuration -->
            <h3>Network Configuration</h3>
            {% if network.IPAM %}
                {% for config in network.IPAM %}
                    <p><strong>Subnet:</strong> {{ config[0] }}</p>
                    <p><strong>Gateway:</strong> {{ config[1] }}</p>
                {% endfor %}
            {% else %}
                <p>No network configuration found.</p>
            {% endif %}

        </div>

        <!-- Containers Block -->
        <div class="content-card">
            <h2>Containers</h2>
            {% if network.Containers %}
                <div class="table-box">
                    <table>
                        <thead>
                            <tr>
                                <th>Container</th>
                                <th>IPv4 Address</th>
                                <th>MAC Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for container_id, container_info in network.Containers.items() %}
                            <tr>
                                <td><strong><a href="{{ url_for('main.container.info', id=container_id) }}">{{ container_info.Name }}</a></strong></td>
                                <td>{{ container_info.IPv4Address }}</td>
                                <td>{{ container_info.MacAddress }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No containers found in this network.</p>
            {% endif %}
        </div>


        <!-- Labels Block -->
        <div class="content-card">
            <h2>Labels</h2>
            {% if network.Labels %}
                <div class="table-box">
                    <table>
                        <tbody>
                            {% for key, value in network.Labels.items() %}
                            <tr>
                                <td><strong>{{ key }}</strong></td>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No labels found.</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}