{% extends "main.html" %}
{% from 'box-top-panel-macros.html' import box_top_panel %}

{% block custom_header %}
    {% assets "network_js" %}
        <script src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    {% set extra_buttons %}
        {% if current_user.has_permission(Permissions.NETWORK_DELETE) %}
            <a class="prune-btn" title="Prune unused networks">
                {% include 'icons/prune.svg' %}
            </a>
        {% endif %}
    {% endset %}
    {{ box_top_panel(extra_buttons) }}
    <div class="table-box">
        <table id="network-table">
            <thead>
                <tr>
                    <th data-sort="name">Name</th>
                    <th data-sort="driver">Driver</th>
                    <th data-sort="subnet">Subnet</th>
                    <th data-sort="gateway">Gateway</th>
                </tr>
            </thead>
            <tbody id="network-list">
                {% for row in rows %}
                <tr>
                    <td><a href="{{ url_for('main.network.info', id=row.id) }}">{{ row.name }}</a></td>
                    <td>{{ row.driver }}</td>
                    <td>{{ row.subnet }}</td>
                    <td>{{ row.gateway }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}