{% extends "main.html" %}

{% block custom_header %}
{% endblock %}

{% block content %}
<div class="content-box">
    <div class="search-box">
        <input type="text" id="search" placeholder="Search">
        <div class="actions">
            <div>
                <a id="refresh-page-btn">
                    {% include 'icons/restart.svg' %}  
                </a>
            </div>
        </div>
    </div>
    <div class="table-box">
        <table id="network-table">
            <thead>
                <tr>
                    <th data-sort="name">Name</th>
                    <th data-sort="driver">Driver</th>
                    <th data-sort="subnet">Subnet</th>
                    <th data-sort="gateway">Gateway</th>
                </tr>
            </thead>
            <tbody id="network-list">
                {% for row in rows %}
                <tr>
                    <td><a href="{{ url_for('main.network.info', id=row.id) }}">{{ row.name }}</a></td>
                    <td>{{ row.driver }}</td>
                    <td>{{ row.subnet }}</td>
                    <td>{{ row.gateway }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}