{# templates/box-top-panel-macros.html #}
{% macro box_top_panel(extra_actions='') %}
<div class="search-box">
    <div class="search-input">
        <input type="text" id="search" placeholder="Search">
        <button type="reset" id="search-reset" title="Clear search">
            {% include 'icons/clear.svg' %}
        </button>
    </div>
    <div class="actions disable-on-load">
        {{ extra_actions | safe }}
        <a id="refresh-page-btn" title="Refresh">
            {% include 'icons/restart.svg' %}
        </a>
    </div>
</div>
{% endmacro %}
