<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Containery</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.svg') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    {% assets "app_css" %}
    <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
    {% assets "app_js" %}
    <script src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    {% block custom_header %}
    {% endblock %}
</head>
<body class="{{ PersonalSettings.get_setting(current_user.id, 'theme').lower() }}">
    <div class="container">
        <aside class="sidebar{{ ' closed' if session.get('sidebar_state', 'open') == 'closed' else '' }}">
            <div class="sidebar-header">
                <button id="menu-toggle" class="menu-toggle">
                    {% include 'icons/burger.svg' %}  
                </button>
                <a href="{{ url_for('main.dashboard.index') }}" class="sidebar-title"><h2>Containery</h2></a>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li class="{% if active_page == 'container' %}active {% else %}inactive {% endif %}">
                        <a href="{{ url_for('main.container.get_list') }}">
                            {% include 'icons/containers.svg' %}                                              
                            <span class="nav-text">Containers</span>
                        </a>
                    </li>
                    <li class="{% if active_page == 'image' %}active {% else %}inactive {% endif %}">
                        <a href="{{ url_for('main.image.get_list') }}">
                            {% include 'icons/images.svg' %}                 
                            <span class="nav-text">Images</span>
                        </a>
                    </li>
                    <li class="{% if active_page == 'volume' %}active {% else %}inactive {% endif %}">
                        <a href="{{ url_for('main.volume.get_list') }}">
                            {% include 'icons/volumes.svg' %}  
                            <span class="nav-text">Volumes</span>
                        </a>
                    </li>
                    <li class="{% if active_page == 'network' %}active {% else %}inactive {% endif %}">
                        <a href="{{ url_for('main.network.get_list') }}">
                            {% include 'icons/networks.svg' %}  
                            <span class="nav-text">Networks</span>
                        </a>
                    </li>
                    <hr>
                    {% if current_user.has_permission(Permissions.USER_VIEW_LIST) %}
                        <li class="{% if active_page == 'user' %}active {% else %}inactive {% endif %}">
                            <a href="{{ url_for('user.get_list') }}">
                                {% include 'icons/users.svg' %}  
                                <span class="nav-text">Users</span>
                            </a>
                        </li>
                    {% endif %}
                    
                    {% if current_user.has_permission(Permissions.GLOBAL_SETTINGS_VIEW) %}
                        <li class="{% if active_page == 'settings' %}active {% else %}inactive {% endif %}">
                            <a href="{{ url_for('settings.get_list') }}">
                                {% include 'icons/settings.svg' %}  
                                <span class="nav-text">Settings</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="bottom">
                <a href="{{ url_for('index.about') }}">About</a>
            </div>
        </aside>
        <div class="main-content">
            <header class="main-header">
                <div class="content-wrapper">
                    <nav class="breadcrumbs">
                        {% for crumb in breadcrumbs %}
                            {% if crumb.url %}
                                <a href="{{ crumb.url }}">{{ crumb.name }}</a> &gt;
                            {% else %}
                                <span>{{ crumb.name }}</span>
                            {% endif %}
                        {% endfor %}
                    </nav>
                    <div class="page-title">
                        <h2>{{ page_title }}</h2>
                        {% include 'icons/spiner.svg' %} 
                    </div>
                </div>
                <div class="user-section">
                    {% include 'icons/user.svg' %}  
                    <div class="user-panel" id="userPanel">
                        <a href="{{ url_for('user.profile') }}">{{ current_user.username }}</a>
                        <a id="logout" href="{{ url_for('auth.logout') }}">
                            {% include 'icons/logout.svg' %}  
                        </a>
                    </div>
                </div>
            </header>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
</body>
</html>

