.log-box {
    padding: 1rem;
    background-color: black;
    border-radius: 10px;
}

#log-textarea {
    width: 100%;
    height: 100%;
    min-height: 75vh;
    line-height: 2;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    resize: none;
    box-sizing: border-box;
    text-wrap: nowrap;
    cursor: auto;
}

textarea::-webkit-scrollbar-track {
    background-color: black;
  }

#log-textarea.constrained {
    text-wrap: unset;
}

#log-textarea:focus {
    outline: none !important;
}