.update-notification {
    width: 100vw;
    flex: unset;
    border: 1px solid var(--accent-color);
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5em;
    color: var(--text-color);
    cursor: pointer;
}

tr:last-child {
    border-bottom: 1px solid var(--accent-color);
}

.prune-btn.disabled {
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}