table {
    table-layout: fixed;
}

.cell-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
}

.settings-revert-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px !important;
    height: 5vh;
    aspect-ratio: 1;
}