{% extends "main.html" %}

{% block custom_header %}
{% assets "settings_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
{% endassets %}
{% assets "settings_js" %}
<script src="{{ ASSET_URL }}" defer></script>
{% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    <h1>Global Settings</h1>
<form method="POST" action="{{ url_for('settings.get_list') }}">
    {{ form.hidden_tag() }}

    <div class="settings-category">
        <h2>General</h2>
        <table>
            <tr>
                <td class="setting-label">{{ form.dashboard_refresh_interval.label }}</td>
                <td>
                    <div class="cell-wrapper">
                        {{ form.dashboard_refresh_interval(class="setting-input") }}
                        <div class="actions disable-on-load">
                            <div>
                                <a class="settings-revert-icon" onclick="resetSetting('dashboard_refresh_interval')" title="Revert Changes">
                                    {% include 'icons/revert.svg' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="settings-category">
        <h2>Session and Security</h2>
        <table>
            <tr>
                <td class="setting-label">{{ form.session_timeout.label }}</td>
                <td>
                    <div class="cell-wrapper">
                        {{ form.session_timeout(class="setting-input") }}
                        <div class="actions disable-on-load">
                            <div>
                                <a class="settings-revert-icon" onclick="resetSetting('session_timeout')" title="Revert Changes">
                                    {% include 'icons/revert.svg' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="setting-label">{{ form.password_min_length.label }}</td>
                <td>
                    <div class="cell-wrapper">
                        {{ form.password_min_length(class="setting-input") }}
                        <div class="actions disable-on-load">
                            <div>
                                <a class="settings-revert-icon" onclick="resetSetting('password_min_length')" title="Revert Changes">
                                    {% include 'icons/revert.svg' %}
                                </a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div>
        {{ form.submit(class="save-button") }}
    </div>
</form>
</div>
{% endblock %}
