{% extends "main.html" %}

{% block custom_header %}
    {% assets "container_actions_js" %}
        <script src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
{% endblock %}

{% block content %}
    {% if container %}
        <!-- General Info Block -->
        <div class="content-card">
            <div class="title">
                <h2>{{ container.general_info.name }}</h2>
                <div class="actions disable-on-load">
                    <div>
                        <!-- Start Container -->
                        <a class="start-btn" data-id="{{ container.general_info.id }}" title="Start Container">
                            {% include 'icons/start.svg' %}  
                        </a>

                        <!-- Stop Container -->
                        <a class="stop-btn" data-id="{{ container.general_info.id }}" title="Stop Container">
                            {% include 'icons/stop.svg' %}  
                        </a>

                        <!-- Restart Container -->
                        <a class="restart-btn" data-id="{{ container.general_info.id }}" title="Restart Container">
                            {% include 'icons/restart.svg' %}  
                        </a>
                        <!-- Delete/Kill Container -->
                        <a class="delete-btn" data-id="{{ container.general_info.id }}" title="Delete Container">
                            {% include 'icons/delete.svg' %}
                        </a>
                    </div>
                    <div>
                        <!-- Terminal -->
                        <a class="terminal-btn" href="{{ url_for('main.container.console', id=container.general_info.id) }}" title="Open Terminal">
                            {% include 'icons/terminal.svg' %}
                        </a>
                        <!-- Processes -->
                        <a class="processes-btn" href="{{ url_for('main.container.processes', id=container.general_info.id) }}" title="View Processes">
                            {% include 'icons/processes.svg' %}
                        </a>
                        <!-- Logs -->
                        <a class="logs-btn" href="{{ url_for('main.container.logs', id=container.general_info.id) }}" title="View Logs">
                            {% include 'icons/logs.svg' %}
                        </a>
                    </div>
                </div>
            </div>
            <p><strong>Image:</strong><a href="{{ url_for('main.image.info', id=container.image.id) }}"> {{ container.image.name }}</a></p>
            <p><strong>Status:</strong> 
                <span class="status {{ container.general_info.status }}">
                    {{ container.general_info.status }}
                </span>
            </p>            
            <p><strong>Created At:</strong> {{ container.general_info.created_at }}</p>
            <p><strong>Restart policy:</strong> {{ container.general_info.restart_policy }}</p>
        </div>

        <!-- ENV & Labels Block -->
        <div class="content-card">
            <h2>Environment Variables</h2>
            {% if container.env_vars %}
                <div class="table-box">
                    <table>
                        <tbody>
                            {% for env in container.env_vars %}
                            <tr>
                                <td><strong>{{ env.split('=', 1)[0] }}</strong></td>
                                <td>{{ env.split('=', 1)[1] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No environment variables found.</p>
            {% endif %}
        </div>

        <div class="content-card">
            <h2>Labels</h2>
            {% if container.labels %}
                <div class="table-box">
                    <table>
                        <tbody>
                            {% for key, value in container.labels.items() %}
                            <tr>
                                <td><strong>{{ key }}</strong></td>
                                <td>{{ value }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>                
                    </table>
                </div>
            {% else %}
                <p>No labels found.</p>
            {% endif %}
        </div>

        <!-- Volumes Block -->
        <div class="content-card">
            <h2>Volumes</h2>
            {% if container.volumes %}
                <div class="table-box">
                    <table>
                        <thead>
                            <tr>
                                <th>Host Path</th>
                                <th>Container Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for volume in container.volumes %}
                            <tr>
                                <td>{{ volume.host_path }}</td>
                                <td>{{ volume.container_path }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No volumes found.</p>
            {% endif %}
        </div>

        <!-- Network Info Block -->
        <div class="content-card">
            <h2>Network Info</h2>
            {% if container.network_info %}
                <div class="table-box">
                    <table id="container-table">
                        <thead>
                            <tr>
                                <th data-sort="name">Name</th>
                                <th data-sort="ip">IP</th>
                                <th data-sort="ports">Ports</th>
                            </tr>
                        </thead>
                        <tbody id="container-list">
                            {% for network in container.network_info %}
                            <tr>
                                <td><a href="{{ url_for('main.network.info', id=network.id) }}">{{ network.network_name }}</a></td>
                                <td>{{ network.self_ip if network.self_ip else '-' }}</td>
                                <td>
                                    {% if network.exposed_ports %}
                                        {% set all_bindings = [] %}
                                        {% for port, bindings in network.exposed_ports.items() %}
                                            {% if bindings %}
                                                {% for binding in bindings %}
                                                    {% if binding.HostIp and binding.HostPort %}
                                                        {% if '::' not in binding.HostIp %}
                                                            {% set _ = all_bindings.append((port, binding.HostIp, binding.HostPort)) %}
                                                        {% endif %}
                                                    {% else %}
                                                        {% set _ = all_bindings.append((port, None, None)) %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% set _ = all_bindings.append((port, None, None)) %}
                                            {% endif %}
                                        {% endfor %}
        
                                        {% for port, host_ip, host_port in all_bindings %}
                                            {% if host_ip and host_port %}
                                                {{ port }} -> {{ host_ip }}:{{ host_port }}
                                            {% else %}
                                                {{ port }}
                                            {% endif %}
                                            {% if not loop.last %}
                                                <hr>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>No network information found.</p>
            {% endif %}
        </div>
                   
    {% endif %}
{% endblock %}