{% extends "main.html" %}

{% block custom_header %}
    {% assets "container_logs_js" %}
        <script src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    {% assets "container_logs_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    <div class="log-box">
        <textarea id="log-textarea" class="{{ 'constrained' if PersonalSettings.get_setting(current_user.id, 'constrain_tables_view') == 'true' else '' }}" readonly>{{ log_text }}</textarea>
    </div>
</div>
{% endblock %}