{% extends "main.html" %}

{% block custom_header %}
    {% assets "container_logs_js" %}
        <script src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    {% assets "container_logs_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    <div class="search-box">
    <div class="lines-input">
        <span>Lines</span>
        <input type="number" id="log-lines" value="{{ tail }}" min="0" max="5000" step="10">
    </div>
    <a id="refresh-page-btn" title="Refresh">
        {% include 'icons/restart.svg' %}
    </a>
    </div>
    <div class="log-box">
        <textarea id="log-textarea" readonly>{{ log_text }}</textarea>
    </div>
</div>
{% endblock %}