{% extends "main.html" %}
{% from 'box-top-panel-macros.html' import box_top_panel %}

{% block custom_header %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/lib/slim-select/slimselect.css') }}"/>
<script src="{{ url_for('static', filename='dist/lib/slim-select/slimselect.js') }}" defer></script>
{% assets "container_actions_js" %}
<script src="{{ ASSET_URL }}" defer></script>
{% endassets %}
{% assets "container_list_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    {% if rows | length > 0 %}
    {% set extra_buttons %}
        <a class="settings-btn" title="Open list settings (M)">
            {% include 'icons/settings_sliders.svg' %}
        </a>
        {% if current_user.has_permission(Permissions.CONTAINER_DELETE) %}
            <a class="prune-btn" title="Prune unused containers">
                {% include 'icons/prune.svg' %}
            </a>
        {% endif %}
    {% endset %}
    {% set extra_inputs %}
        {% if composes | length > 0 %}
        <select name="compose" id="compose" multiple>
            <option value="none" {% if "none" in selected_composes %}selected{% endif %}>Individual containers</option>
            {% for item in composes %}
                <option value="{{ item }}"
                    {% if item in selected_composes %}selected{% endif %}>
                    {{ item }}
                </option>
            {% endfor %}
        </select>
        {% endif %}
        {% if docker_hosts | length > 1 %}
        <select name="docker_host" id="docker_host" multiple>
            {% for item in docker_hosts %}
                <option value="{{ item.id }}"
                    {% if item.id in selected_docker_hosts_ids %}selected{% endif %}>
                    {{ item.name }}
                </option>
            {% endfor %}
        </select>
        {% endif %}
    {% endset %}
    {{ box_top_panel(extra_buttons, extra_inputs) }}
    <div class="table-box">
        {% set columns = container_columns_setting %}
        <table id="container-table">
            <thead>
                <tr>
                    {% for col in columns if col.enabled %}
                        <th data-sort="{{ col.name | lower | replace(' ', '_') }}">
                            {{ col.name }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody id="container-list">
                {% for row in rows %}
                <tr>
                    {% for col in columns if col.enabled %}
                        {% set col_property = col.name | lower | replace(' ', '_') %}
                        {% if col_property == 'name' %}
                            <td>
                                <a href="{{ url_for('main.container.info', id=row.id) }}">
                                    {{ row.get(col_property) }}
                                </a>
                            </td>

                        {% elif col_property == 'image' %}
                            <td>
                                <a href="{{ url_for('main.image.info', id=row.imageID) }}">
                                    {{ row.get(col_property) }}
                                </a>
                            </td>

                        {% elif col_property == 'ports' %}
                            {% if row.get(col_property) %}
                                <td>
                                    <div class="port-list">
                                        {% for port in row.get(col_property) %}
                                            <div>
                                                <span>{{ port }}</span>
                                            </div>
                                            {% if not loop.last %}
                                                <hr />
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                            {% else %}
                                <td><span>N/A</span></td>
                            {% endif %}

                        {% elif col_property == 'quick_actions' %}
                            <td>
                                <div class="quick-actions actions disable-on-load">
                                    {% for action in container_quick_actions_setting if action.enabled %}
                                        {% set action_name = action.name | lower | replace(' ', '-') %}
                                        {% if action_name in ['logs', 'terminal', 'processes'] %}
                                        <a class="{{ action_name }}-btn" href="{{ url_for('main.container.' ~ action_name, id=row.id) }}">
                                        {% else %}
                                        <a class="{{ action_name }}-btn" data-id="{{ row.id }}">
                                        {% endif %}
                                            {% include 'icons/' ~ action_name ~ '.svg' %}
                                        </a>
                                    {% endfor %}
                                </div>
                            </td>
                        {% elif col_property == 'state' %}
                            <td>
                                {% if row.get(col_property) == 'running' %}
                                    <span class="status running">Running</span>
                                {% elif row.get(col_property) == 'exited' %}
                                    <span class="status exited">Exited</span>
                                {% else %}
                                    <span class="status other">{{ row.get(col_property) | capitalize }}</span>
                                {% endif %}
                            </td>
                        {% else %}
                            <td><span>{{ row.get(col_property) | default('N/A') }}</span></td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="empty-state">
        <h2>No containers found</h2>
        <p>Check <a href="{{ url_for('settings.list_docker_hosts') }}">docker hosts settings</a> and container filters.</p>
    </div>
    {% endif %}
</div>
{% endblock %}