{% extends "main.html" %}
{% from 'box-top-panel-macros.html' import box_top_panel %}

{% block custom_header %}
{% assets "container_actions_js" %}
<script src="{{ ASSET_URL }}" defer></script>
{% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    {% set extra_buttons %}
        {% if current_user.has_permission(Permissions.CONTAINER_DELETE) %}
            <a class="prune-btn" title="Prune unused containers">
                {% include 'icons/prune.svg' %}
            </a>
        {% endif %}
    {% endset %}
    {{ box_top_panel(extra_buttons) }}
    <div class="table-box">
        <table id="container-table">
            <thead>
                <tr>
                    <th data-sort="name">Container</th>
                    <th data-sort="status">Status</th>
                    <th data-sort="image">Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="container-list">
                {% for row in rows %}
                <tr>
                    <td><a href="{{ url_for('main.container.info', id=row.id) }}">{{ row.name }}</a></td>
                    <td><span>{{ row.status }}</span></td>
                    <td><a href="{{ url_for('main.image.info', id=row.imageID) }}">{{ row.image }}</a></td>
                    <td>
                        <div class="actions disable-on-load">
                            <div>
                                <a class="processes-btn" href="{{ url_for('main.container.processes', id=row.id) }}" title="View Processes">
                                    {% include 'icons/processes.svg' %}
                                </a>
                                <a class="logs-btn" href="{{ url_for('main.container.logs', id=row.id) }}" title="View Logs">
                                    {% include 'icons/logs.svg' %}
                                </a>
                                <a class="terminal-btn" href="{{ url_for('main.container.console', id=row.id) }}" title="Open Terminal">
                                    {% include 'icons/terminal.svg' %}
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}