{% extends "main.html" %}
{% from 'box-top-panel-macros.html' import box_top_panel %}

{% block custom_header %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/lib/slim-select/slimselect.css') }}"/>
<script src="{{ url_for('static', filename='dist/lib/slim-select/slimselect.js') }}" defer></script>
{% assets "container_actions_js" %}
<script src="{{ ASSET_URL }}" defer></script>
{% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    {% set extra_buttons %}
        {% if current_user.has_permission(Permissions.CONTAINER_DELETE) %}
            <a class="prune-btn" title="Prune unused containers">
                {% include 'icons/prune.svg' %}
            </a>
        {% endif %}
    {% endset %}
    {% set extra_inputs %}
        {% set selected_composes = request.args.get('compose', '').split(',') if request.args.get('compose') else [] %}
        <select name="compose" id="compose" multiple>
            <option value="none" {% if "none" in selected_composes %}selected{% endif %}>Non compose containers</option>
            {% for item in composes %}
                <option value="{{ item }}"
                    {% if item in selected_composes %}selected{% endif %}>
                    {{ item }}
                </option>
            {% endfor %}
        </select>
    {% endset %}
    {{ box_top_panel(extra_buttons, extra_inputs) }}
    <div class="table-box">
        <table id="container-table">
            <thead>
                <tr>
                    <th data-sort="name">Container</th>
                    <th data-sort="status">Status</th>
                    <th data-sort="image">Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="container-list">
                {% for row in rows %}
                <tr>
                    <td><a href="{{ url_for('main.container.info', id=row.id) }}">{{ row.name }}</a></td>
                    <td><span>{{ row.status }}</span></td>
                    <td><a href="{{ url_for('main.image.info', id=row.imageID) }}">{{ row.image }}</a></td>
                    <td>
                        <div class="actions disable-on-load">
                            <div>
                                <a class="processes-btn" href="{{ url_for('main.container.processes', id=row.id) }}" title="View Processes">
                                    {% include 'icons/processes.svg' %}
                                </a>
                                <a class="logs-btn" href="{{ url_for('main.container.logs', id=row.id) }}" title="View Logs">
                                    {% include 'icons/logs.svg' %}
                                </a>
                                <a class="terminal-btn" href="{{ url_for('main.container.console', id=row.id) }}" title="Open Terminal">
                                    {% include 'icons/terminal.svg' %}
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}