{% extends "main.html" %}

{% block custom_header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/lib/xterm/xterm.css') }}"/>
    <script src="{{ url_for('static', filename='dist/lib/xterm/xterm.js') }}" defer></script>
    <script src="{{ url_for('static', filename='dist/lib/socket.io/socket.io.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/lib/slim-select/slimselect.css') }}"/>
    <script src="{{ url_for('static', filename='dist/lib/slim-select/slimselect.js') }}" defer></script>
    {% assets "container_terminal_js" %}
        <script src="{{ ASSET_URL }}" defer></script>
    {% endassets %}
    {% assets "container_terminal_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
<div class="content-box">
    <form id="start-form">
        <div class="table-box">
            <table>
                <tr>
                    <td><strong>Command</strong></td>
                    <td>
                        <select name="command" id="command-select">
                            <option value="/bin/bash">/bin/bash</option>
                            <option value="/bin/sh">/bin/sh</option>
                        </select>
                    </td>
                </tr>
                <tr></tr>
                    <td><strong>Custom command</strong></td>
                    <td>
                        <input type="text" id="command-input" name="command" placeholder="Custom command">
                    </td>
                </tr>
                <tr>
                    <td><strong>User</strong></td>
                    <td>
                        <input type="text" id="user-field" name="user" value="root" required>
                    </td>
                </tr>
            </table>
        </div>
        <input id="submit-btn" type="submit" data-container-id="{{ container_id }}" value="Exec">
    </form>

    <div class="terminal-wrapper" id="terminal-wrapper" style="display: none;">
        <div id="terminal-container"></div>
    </div>
</div>
{% endblock %}
