<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Containery</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/icon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/colors/system.css') }}">
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='styles/auth.css') }}">
</head>
<body>
    <header>
        {% block header %}
            <h1>Containery</h1>
        {% endblock %}
    </header>
    <main>
        {% block content %}

        {% endblock %}
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </main>
</body>
</html>
