{% extends "auth.html" %}

{% block content %}
    <div class="auth-container">
        <h2>Admin Setup</h2>
        <form method="POST" action="">
            {{ form.csrf_token() }}

            {{ form.username.label }}
            {{ form.username() }}

            {{ form.password.label }}
            {{ form.password() }}

            {{ form.confirm_password.label }}
            {{ form.confirm_password() }}

            {{ form.submit() }}
        </form>
        {% for error in form.confirm_password.errors %}
        <div class="validation-error">
            <span class="validation-error">{{ error }}</span>
        </div>
    {% endfor %}
    </div>
{% endblock %}
