{% extends "auth.html" %}

{% block content %}
    <div class="auth">
        <div class="auth-container">
            <h2>Welcome</h2>
            <form method="POST" action="">
                {{ form.csrf_token() }}
                {{ form.username.label }}
                {{ form.username() }}
    
                {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    
                {{ form.password.label }}
                {{ form.password() }}
    
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
    
                {{ form.submit() }}
            </form>
        </div>
    </div>
{% endblock %}
