.controls {
    border-radius: 10px;
    border: 1px solid var(--accent-color);
}

.controls a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.controls a svg {
    padding-inline: 1rem;
}

.submit-btn {
    all: unset;
}

.permissions-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.permission-category {
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--bg-color);
}

.permission-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin: 0.5rem 0;
}

.role-name-section {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

.role-badge-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.toggle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--accent-color);
    height: 15%;
    margin-bottom: 3vh;
}

@media all and (min-width:0px) and (max-width: 650px) {
    .permissions-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}