body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
    overflow-y: auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.main-header h2 {
    margin: 0;
}

.content {
    padding-inline: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.content:has(.content-card.dashboard) {
    align-items: unset;
}

.content-box {
    background-color: var(--bg-color-box);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 2rem);
    overflow-x: auto;
}

.content-card {
    background-color: var(--bg-color-box);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 2rem);
    min-width: 300px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.content-card.dashboard {
    flex: 1 1 calc(50% - 2rem);
}

.content-card.single {
    flex: 1 1 calc(100% - 2rem);
}

.content-card h2 {
    margin-top: 0;
}

.breadcrumbs {
    font-size: 0.9rem;
    overflow-wrap: anywhere;
}

.breadcrumbs span:last-child {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.search-box {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-box input {
    width: unset;
}

.table-actions {
    display: inline-flex;
    gap: 2rem;
}

input,
select,
button.full {
    width: 100%;
    padding: 10px;
    height: 5vh;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="color"] {
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 6px;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 4px;
    border: none;
}

.form-validate-error {
    background-color: var(--error-bg);
    color: var(--error-text);
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* General table styles */
table {
    width: -webkit-fill-available;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

thead {
    color: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

form th, 
form td {
    border-bottom: none;
    word-wrap: break-word;
}

tr {
    border-bottom: 1px solid var(--accent-color);
}

tr:last-child {
    border-bottom: none;
}

tbody tr:only-child {
    border-bottom: 1px solid var(--accent-color);
}

th, td {
    padding: 0.75rem;
    text-align: left;
    white-space: nowrap;
}

th[data-sort]:after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: right; 
}

th[data-sort].ascending:after {
    content: " ▲";
}

th[data-sort].descending:after {
    content: " ▼";
}

th {
    background-color: var(--accent-color);
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

form table tr {
    border-bottom: none !important;
}

.content-card .table-box {
    max-height: 40vh;
}

.table-box {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.table-box td {
    white-space: normal;
}

a {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

/* Info page */

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-wrap: anywhere;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.user-details h2{
    margin-bottom: 0;
}

.user-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.user-panel {
    width: 0;
    height: 100%;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color-box);
    align-items: center;
}

.user-panel > * {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80px;
}

.user-panel #logout {
    font-size: 0;
}

.user-panel.open {
    width: 125px;
    padding: 0.5rem;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
}

a#logout {
    border-radius: 5px;
}

a#logout:hover {
    text-decoration: none;
    background-color: var(--bg-color-darker);
    transition: all 0.3s ease;
}

.actions.disabled a {
    pointer-events: none;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.actions div {
    display: flex;
}

.content-card .actions {
    gap: unset;
    flex-direction: column;
    align-items: flex-end;
}

.actions a,
a.action {
    font-size: 0;
    border-radius: 5px;
}

a span,
a svg {
    padding: 5px;
    flex-shrink: 0;
}

span.delete:hover {
    color: var(--error-bg) !important;
}

.status {
    padding: 5px 10px;
    border-radius: 10px;
}

.status.running {
    background-color: var(--success-bg);
    color: var(--success-text);
}

.status.stopped {
    background-color: var(--error-bg);
    color: var(--error-text)
}

.status.exited {
    background-color: var(--error-bg);
    color: var(--error-text)
}

.status.paused {
    background-color: var(--info-bg);
    color: var(--info-text)
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 10vh;
}

.error-icon {
    font-size: 100px !important;
}

.error-code {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

.error-text {
    font-size: x-large;
}
