.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  }

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 15rem;
    min-width: 15rem;
    background-color: var(--bg-color-box);
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow-y: auto;
    overflow-x: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--accent-color);
    color: #ffffff;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--text-color);
}

.sidebar-header a:hover {
    text-decoration: none;
}

#menu-toggle {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

ul {
    list-style-type: none;
}

.nav-menu {
    flex-grow: 1;
}

.nav-menu ul {
    padding: 0;
    margin: 0;
}

.nav-menu li:hover a, .nav-menu li:hover span {
    text-decoration: none;
    color: var(--accent-color);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 1rem;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-icon {
    font-size: 1.5rem;
}

.nav-text {
    margin-left: 1rem;
    font-size: 1rem;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow-y: auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: transparent;
    color: var(--text-color);
    top: 0;
    width: -webkit-fill-available;
    z-index: 1;
}

.main-header h2 {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.user-icon {
    font-size: 1.5rem;
}

.content {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
}

.content:has(.content-card.dashboard) {
    align-items: unset;
}

.content-box {
    background-color: var(--bg-color-box);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    flex: 1 1 calc(33.333% - 2rem);
    overflow-x: auto;
}

.content-box .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-card {
    background-color: var(--bg-color-box);
    border-radius: 10px;
    padding-inline: 2rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 2rem);
    min-width: 300px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.content-card.dashboard {
    flex: 1 1 calc(50% - 2rem);
}

.breadcrumbs {
    font-size: 0.9rem;
    overflow-wrap: anywhere;
}

.breadcrumbs span:last-child {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.search-box {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-actions {
    display: inline-flex;
    gap: 2rem;
}

.search-box input {
    width: unset;
}

input,
select {
    width: 100%;
    padding: 10px;
    height: 5vh;
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    box-sizing: border-box;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: inherit;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

input[type="color"] {
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    padding: 8px;
    width: 100%;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 6px;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 4px;
    border: none;
}

.form-validate-error {
    background-color: var(--error-bg);
    color: var(--error-text);
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;
}

.content-line {
    width: -webkit-fill-available;
    flex: 1;
}

.content-box h2 {
    margin: 0;
}

.log-box {
    padding: 1rem;
    background-color: black;
    border-radius: 10px;
}

#log-textarea {
    width: 100%;
    height: 100%;
    min-height: 75vh;
    line-height: 2;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    resize: none;
    box-sizing: border-box;
    text-wrap: nowrap;
    cursor: auto;
}

textarea::-webkit-scrollbar-track {
    background-color: black;
  }

#log-textarea.constrained {
    text-wrap: unset;
}

#log-textarea:focus {
    outline: none !important;
}

/* General table styles */
table {
    width: -webkit-fill-available; /* Remove the fixed width */
    border-collapse: collapse;
    margin: 0 auto; /* Center the table */
    table-layout: fixed;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

thead th:first-child {
    border-top-left-radius: 10px;
}

thead th:last-child {
    border-top-right-radius: 10px;
}

form th, 
form td {
    border-bottom: none;
    word-wrap: break-word;
}

th, td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid var(--accent-color);
    white-space: nowrap; /* Prevent wrapping */
}

table.add-role td {
    border-bottom: 1px solid var(--accent-color);
}

table.add-role {
    table-layout: auto;
}

table.add-role tr td:last-child {
    text-align: right;
}

th {
    cursor: pointer;
}

th[data-sort]:after {
    content: "";
    display: inline-block;
    width: 1em;
    text-align: right; 
}

th[data-sort].ascending:after {
    content: " ▲";
}

th[data-sort].descending:after {
    content: " ▼";
}

th {
    background-color: var(--accent-color);
    color: var(--bg-color);
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide the overflow text */
    text-overflow: ellipsis; /* Show ellipsis if text overflows */
}

td {
    white-space: normal; /* Prevent wrapping inside cells */
    word-wrap: normal; /* Default word-wrap behavior */
}

.content-card > .table-box {
    max-height: 40vh;
    overflow-x: hidden;
}

.table-box {
    max-height: 70vh;
    overflow-y: scroll;
    padding-right: 1rem;
}

.table-box th, .table-box td {
    white-space: normal; /* Allow wrapping if needed to fit content */
    word-wrap: break-word;
}

.table-box th {
    max-width: none; /* Remove max-width constraint if using the constrained class */
    word-wrap: unset;
}

.add-role-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-inline: 1rem;
    background-color: var(--accent-color);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: white;
}

.table-box.role {
    overflow-x: auto;
    width: 100%;
}

.sidebar.closed {
    width: 66px;
    min-width: 66px;
}

.sidebar.closed .nav-text {
    visibility: hidden;
}

.sidebar.closed .sidebar-title {
    visibility: hidden;
}

.sidebar.closed #menu-toggle {
    transform: rotate(180deg);
}

a {
    text-decoration: none;
    color: var(--accent-color);
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: var(--accent-color-darken);
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0 5px;
}

.usage-row {
    display: flex;
}

.cpu-usage, .ram-usage, .load-average, .io-operations {
    flex: 1;
    padding: 0 1rem;
}

.stat-table {
    border-collapse: collapse;
}

.stat-table td {
    width: 50%; /* Each column takes up half the space */
}

.progress-bar {
    position: relative;
    height: 20px;
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 0.5rem;
}

.progress {
    height: 100%;
    background-color: var(--accent-color);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.usage-text {
    text-align: center;
    font-size: 1rem;
    color: var(--text-color);
}

.dashboard-button {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 1.5rem;
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.dashboard-button span {
    margin-top: 10px;
    color: var(--text-color) !important;
}

.dashboard-button .material-symbols-outlined {
    font-size: 2rem;
}

.dashboard-button:hover {
    border: 1px solid var(--accent-color);
    color: var(--text-color);
    text-decoration: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
}

.button-container {
    flex: 1 1 calc(25% - 1rem);
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--accent-color);
}

/* Smaller spinner inside the h2 */
h2 .loading-spinner .material-symbols-outlined {
    font-size: 1.5rem;
}

/* Info page */

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    overflow-wrap: anywhere;
}

hr {
    border: 0;
    border-top: 1px solid var(--accent-color);
}

.user-details h2{
    margin-bottom: 0;
}

.user-section {
    display: flex;
    align-items: center;
    position: relative;
}

.user-icon {
    cursor: pointer;
    padding: 10px;
    z-index: 1; /* Ensure icon stays above panel */
}

.user-panel {
    width: 0; /* Start with zero width */
    height: 100%; /* Match the height of the header */
    color: white;
    border-radius: 10px; /* Rounded corners */
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color-box);
    box-shadow: 0;
    align-items: center;
}

.user-panel > * {
    margin: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80px;
}

.user-panel.open {
    width: 150px; /* Expand to desired width when open */
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
}

.flash-messages {
    position: fixed;
    bottom: 5vh;
    right: 100px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 20vw;
}

.flash-message {
    background-color: var(--accent-color);
    color: var(--bg-color);
    padding: 1rem;
    border-radius: 10px;
    font-size: large;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: slideUp 0.5s ease-in-out forwards, fadeOut 0.5s 3.5s ease-in-out forwards;
    text-align: center;
}

.flash-message.info {
    background-color: var(--info-bg);
    color: var(--info-text);
}

.flash-message.success {
    background-color: var(--success-bg);
    color: var(--success-text);
}

.flash-message.warning {
    background-color: var(--warning-bg);
    color: var(--warning-text);
}

.flash-message.error {
    background-color: var(--error-bg);
    color: var(--error-text);
}

input[type="text"][disabled] {
    border: 1px solid grey;
    cursor: not-allowed;
}

input[type="submit"][disabled] {
    border: 1px solid grey;
    cursor: not-allowed;
    background-color: grey;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    vertical-align: middle;
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--text-color);
    border-radius: 50%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

input[type="checkbox"]:checked + label {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked + label:before {
    transform: translateX(20px);
    background-color: var(--bg-color);
}

input[type="checkbox"][disabled] + label {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
    border: none;
}

input[type="checkbox"][disabled]:checked + label {
    background-color: #bbb;
}

input[type="checkbox"][disabled]:checked + label:before {
    background-color: #999;
    transform: translateX(20px);
}

input[type="checkbox"][disabled] + label:before {
    background-color: #ddd;
}

input[type="submit"] {
    background: var(--accent-color);
    color: white;
    font-size: medium;
    cursor: pointer;
}

select {
    appearance: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding-right: 2.5em; /* Space for the custom arrows */
    background-image:
        /* Down arrow */
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        /* Up arrow */
        linear-gradient(135deg, transparent 50%, gray 50%),
        linear-gradient(45deg, gray 50%, transparent 50%),
        /* Right border */
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        /* Down arrow */
        calc(100% - 18px) calc(50% + 4px),
        calc(100% - 13px) calc(50% + 4px),
        /* Up arrow */
        calc(100% - 18px) calc(50% - 4px),
        calc(100% - 13px) calc(50% - 4px),
        /* Right border */
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

select:disabled {
    border: 1px solid var(--bg-color);
    cursor: not-allowed;
}

select:hover {
    background-color: var(--bg-color-box);
}

select option {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.actions div {
    display: flex;
    align-items: center;
    gap: 10px;
}

a span {
    color:var(--text-color);
    padding: 5px;
}

a span:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: var(--accent-color);
}

span.delete:hover {
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    color: var(--error-bg) !important;
}

.role-badge {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.user-info p {
    font-size: 1.1em;
    align-items: center;
}

.user-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.terminal-wrapper {
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#terminal-container {
    min-height: 80vh;
}

.status {
    padding: 5px 10px;
    border-radius: 10px;
}

.status.running {
    background-color: var(--success-bg);
    color: var(--success-text);
}

.status.stopped {
    background-color: var(--error-bg);
    color: var(--error-text)
}

.status.exited {
    background-color: var(--error-bg);
    color: var(--error-text)
}

.status.paused {
    background-color: var(--info-bg);
    color: var(--info-text)
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error-box {
    display: flex;
    align-items: center;
}

.error-icon {
    font-size: 100px !important;
}

.error-code {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
}

.error-text {
    font-size: x-large;
}

#role_name {
    max-width: fit-content;
}

@keyframes slideUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media all and (min-width:0px) and (max-width: 650px) {
    .sidebar {
        width: 100%;
        position: fixed;
        z-index: 2;
        height: -webkit-fill-available;
        backdrop-filter: blur(10px);
        background-color: var(--bg-color-transparent);
    }

    .sidebar.closed {
        background-color: var(--bg-color-box);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .sidebar + .main-content {
        position: absolute;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        transform: translateX(0);
        overflow: hidden;
        width: 100vw;
        margin-inline: unset;
    }
    
    .sidebar.closed + .main-content {
        transform: translateX(15vw);
        width: 85vw;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .flash-messages {
        left: 25vw;
        max-width: unset;
    }

    .nav-menu li, .nav-menu li:hover {
        border: none;
    }

    .actions div {
        gap: unset;
    }

    .search-box input {
        max-width: 50%;
    }

    .content-box form .table-box {
        width: unset;
        min-width: unset;
    }

    a, button {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .table-actions {
        gap: unset;
    }

    .breadcrumbs span:last-child {
        max-width: 100px;
    }
}
