body {
    --info-bg: var(--accent-color);
    --success-bg: var(--success-bg-base);
    --error-bg: var(--error-bg-base);
    
    --accent-color-dark-theme: #66bfff;
    --accent-color-dark-theme-darken: #33aaff;
    
    --accent-color-light-theme: #0077ff;
    --accent-color-light-theme-darken: #3392FF;

    --info-bg-dark-theme: var(--accent-color-dark-theme);
    --info-bg-light-theme: var(--accent-color-light-theme);

    --status-text-dark-theme: #ffffff;
    --status-text-light-theme: #ffffff;

    --bg-color-dark-theme: #121212;
    --bg-color-light-theme: #f5f5f5;

    --bg-color-darker-dark-theme: #121212;
    --bg-color-darker-light-theme: #d3d3d3;

    --bg-color-box-dark-theme: #282828;
    --bg-color-box-light-theme: #f5f5f5;

    --bg-color-transparent-dark-theme: rgba(0, 0, 0, 0.4);
    --bg-color-transparent-light-theme: rgba(255, 255, 255, 0.4);

    --success-bg-main: #28a745;
    --error-bg-main: #f44336;
}

@media (prefers-color-scheme: light) {
    body.system {
        --bg-color: var(--bg-color-light-theme);
        --bg-color-darker: var(--bg-color-darker-light-theme);
        --bg-color-box: var(--bg-color-box-light-theme);
        --bg-color-transparent: var(--bg-color-transparent-light-theme);
        --text-color: #333;
        --accent-color: var(--accent-color-light-theme);
        --accent-color-darken: var(--accent-color-light-theme-darken);

        --info-bg-base: var(--info-bg-light-theme);
        --success-bg-base: var(--success-bg-main);
        --error-bg-base: var(--error-bg-main);

        --info-text: var(--status-text-light-theme);
        --success-text: var(--status-text-light-theme);
        --error-text: var(--status-text-light-theme);
    }
}

@media (prefers-color-scheme: dark) {
    body.system {
        --bg-color: var(--bg-color-dark-theme);
        --bg-color-darker: var(--bg-color-darker-dark-theme);
        --bg-color-box: var(--bg-color-box-dark-theme);
        --bg-color-transparent: var(--bg-color-transparent-dark-theme);
        --text-color: #f5f5f5;
        --accent-color: var(--accent-color-dark-theme);
        --accent-color-darken: var(--accent-color-dark-theme-darken);

        --info-bg-base: var(--info-bg-dark-theme);
        --success-bg-base: var(--success-bg-main);
        --error-bg-base: var(--error-bg-main);

        --info-text: var(--status-text-dark-theme);
        --success-text: var(--status-text-dark-theme);
        --error-text: var(--status-text-dark-theme);
    }
}

body.light {
    --bg-color: var(--bg-color-light-theme);
    --bg-color-transparent: rgba(255, 255, 255, 0.4);
    --bg-color-darker: var(--bg-color-darker-light-theme);
    --bg-color-box: var(--bg-color-box-light-theme);
    --text-color: #333;
    --accent-color: var(--accent-color-light-theme);
    --accent-color-darken: var(--accent-color-light-theme-darken);

    --info-bg-base: var(--info-bg-light-theme);
    --success-bg-base: var(--success-bg-main);
    --error-bg-base: var(--error-bg-main);

    --info-text: var(--status-text-light-theme);
    --success-text: var(--status-text-light-theme);
    --error-text: var(--status-text-light-theme);
}

body.dark {
    --bg-color: var(--bg-color-dark-theme);
    --bg-color-darker: var(--bg-color-darker-dark-theme);
    --bg-color-box: var(--bg-color-box-dark-theme);
    --bg-color-transparent: var(--bg-color-transparent-dark-theme);
    --text-color: #f5f5f5;
    --accent-color: var(--accent-color-dark-theme);
    --accent-color-darken: var(--accent-color-dark-theme-darken);

    --info-bg-base: var(--info-bg-dark-theme);
    --success-bg-base: var(--success-bg-main);
    --error-bg-base: var(--error-bg-main);

    --info-text: var(--status-text-dark-theme);
    --success-text: var(--status-text-dark-theme);
    --error-text: var(--status-text-dark-theme);
}

body.dark_mixed {
    --bg-color: #1b1f26;
    --bg-color-darker: var(--bg-color-darker-dark-theme);
    --bg-color-box: #30343a;
    --bg-color-transparent: var(--bg-color-transparent-dark-theme);
    --text-color: #f5f5f5;
    --accent-color: var(--accent-color-dark-theme);
    --accent-color-darken: var(--accent-color-dark-theme-darken);

    --info-bg-base: var(--info-bg-dark-theme);
    --success-bg-base: var(--success-bg-main);
    --error-bg-base: var(--error-bg-main);

    --info-text: var(--status-text-dark-theme);
    --success-text: var(--status-text-dark-theme);
    --error-text: var(--status-text-dark-theme);
}