@media (prefers-color-scheme: light) {
    body.system {
        --bg-color: #f5f5f5;
        --bg-color-darker: #d3d3d3;
        --bg-color-transparent: rgba(255, 255, 255, 0.4);
        --bg-color-box: #f5f5f5;
        --text-color: #333;
        --accent-color: #0077ff;
        --accent-color-darken: #0058bd;

        --info-bg: #0077ff;
        --info-text: #ffffff;
        --success-bg: #28a745;
        --success-text: #ffffff;
        --warning-bg: #ffc107;
        --warning-text: #212529;
        --error-bg: #dc3545;
        --error-text: #ffffff;
    }
}

@media (prefers-color-scheme: dark) {
    body.system {
        --bg-color: #121212;
        --bg-color-darker: #121212;
        --bg-color-box: #282828;
        --bg-color-transparent: rgba(0, 0, 0, 0.4);
        --text-color: #f5f5f5;
        --accent-color: #5cabff;
        --accent-color-darken: #bfd9ff;

        --info-bg: #5cabff;
        --info-text: #121212;
        --success-bg: #45e06f;
        --success-text: #121212;
        --warning-bg: #ffd54f;
        --warning-text: #121212;
        --error-bg: #ff6b75;
        --error-text: #121212;
    }
}

body.light {
    --bg-color: #f5f5f5;
    --bg-color-transparent: rgba(255, 255, 255, 0.4);
    --bg-color-darker: #d3d3d3;
    --bg-color-box: #f5f5f5;
    --text-color: #333;
    --accent-color: #0077ff;
    --accent-color-darken: #0058bd;

    --info-bg: #0077ff;
    --info-text: #ffffff;
    --success-bg: #28a745;
    --success-text: #ffffff;
    --warning-bg: #ffc107;
    --warning-text: #212529;
    --error-bg: #dc3545;
    --error-text: #ffffff;
}

body.dark {
    --bg-color: #121212;
    --bg-color-darker: #121212;
    --bg-color-box: #282828;
    --bg-color-transparent: rgba(0, 0, 0, 0.4);
    --text-color: #f5f5f5;
    --accent-color: #5cabff;
    --accent-color-darken: #bfd9ff;

    --info-bg: #5cabff;
    --info-text: #121212;
    --success-bg: #45e06f;
    --success-text: #121212;
    --warning-bg: #ffd54f;
    --warning-text: #121212;
    --error-bg: #ff6b75;
    --error-text: #121212;
}

body.dark_mixed {
    --bg-color: #1b1f26;
    --bg-color-darker: #121212;
    --bg-color-box: #30343a;
    --bg-color-transparent: rgba(0, 0, 0, 0.4);
    --text-color: #f5f5f5;
    --accent-color: #5cabff;
    --accent-color-darken: #bfd9ff;

    --info-bg: #5cabff;
    --info-text: #121212;
    --success-bg: #45e06f;
    --success-text: #121212;
    --warning-bg: #ffd54f;
    --warning-text: #121212;
    --error-bg: #ff6b75;
    --error-text: #121212;
}