*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}

*::-webkit-scrollbar-track, 
*::-webkit-scrollbar-corner {
    background-color: var(--bg-color-darker);
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--accent-color);
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    /* Custom select global vars */
    --ss-border-radius: 10px !important;
    --ss-main-height: 5vh !important;
}

ul {
    list-style-type: none;
}

hr {
    border: 0;
    border-top: 1px solid var(--accent-color);
}

.flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}