@media (max-width: 768px) {
    .content {
        margin-bottom: 10vh;
    }

    .main-content::-webkit-scrollbar {
        display: none;
    }

    .flash-messages {
        left: 25vw;
        max-width: unset;
    }

    .nav-menu li, .nav-menu li:hover {
        border: none;
    }

    .actions div {
        gap: unset;
    }

    .search-box input {
        max-width: 50%;
    }

    .content-box form .table-box {
        width: unset;
        min-width: unset;
    }

    a, button {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .table-actions {
        gap: unset;
    }

    .breadcrumbs span:last-child {
        max-width: 100px;
    }

    table {
        table-layout: auto;
    }

    .table-box td {
        white-space: nowrap;
    }

    .table-box::-webkit-scrollbar {
        display: none;
    }
}