.sidebar {
    width: 15rem;
    min-width: 15rem;
    background-color: var(--bg-color-box);
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow-x: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid var(--accent-color);
    color: #ffffff;
}

.sidebar-header h2 {
    margin: 0;
    color: var(--text-color);
}

.sidebar-header a:hover {
    text-decoration: none;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.menu-toggle {
    font-size: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    transition: transform 0.3s ease;
}

.sidebar.closed {
    width: 4rem;
    min-width: 4rem;
}

.sidebar.closed .bottom{
    visibility: hidden;
}

.sidebar-title {
    margin-left: 1rem;
}

.sidebar.closed .menu-toggle svg rect:nth-child(1) {
    width: 8px;
}
.sidebar.closed .menu-toggle svg rect:nth-child(2) {
    width: 12px;
}

.nav-menu {
    flex-grow: 1;
}

.nav-menu ul {
    padding: 0;
    margin: 0;
}

.nav-menu li a:hover,
.nav-menu li.active a {
    background-color: var(--bg-color-darker);
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-text {
    margin-left: 1rem;
}