body {
    display: flex;
    align-items: center;
    height: 100vh;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

header {
    background-color: var(--accent-color);
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 5vw;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    margin-left: 25%;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

h2 {
    color: var(--accent-color);
    text-align: center;
}

.auth-container, .flash {
    background: var(--bg-color-box);
    border-radius: 10px;
    box-shadow: 2px 0 8px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

.error-container {
    margin-left: 25%;
}

.flash {
    text-align: center;
    margin-top: 1rem;
}

.flash.error {
    background-color: var(--error-bg);
}

.auth-container > form > input {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.validation-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    border-radius: 10px;
    background-color: var(--error-bg);
}

@media (max-width: 600px) {
    form {
        padding: 10px;
    }

    header {
        width: 100vw;
        position: fixed;
        height: unset;
        top: 0;
        left: 0;
        padding-inline: unset;
    }
    main {
        margin: auto;
    }
}